.skills {
  max-width: 1000px;
  margin: 80px auto;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.skills h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #64ffda;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

/* CARD */
.skill-card {
  background: #112240;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: left;
}

.skill-card:hover {
  transform: translateY(-8px);
  background: #1a2f50;
}

/* TITLE */
.skill-card h2 {
  margin-bottom: 10px;
  color: #64ffda;
  font-size: 20px;
}

/* TEXT */
.skill-card p {
  color: #ccc;
  font-size: 14px;
  line-height: 1.5;
}