*{
  margin: 0;
  padding: 0;
  color: #E0E0E0;
   box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overscroll-behavior: none;  /* ✅ stops bounce/overscroll effect */
}
body{
  background: linear-gradient(to right, #243B55, #141E30);
   font-family: 'Times New Roman', Times, serif;
   overflow-x: hidden;
    overscroll-behavior: none;  /* ✅ add here too */
  min-height: 100vh; 
}
